<div class="grid-cols-1">
  @if(setUser()){
  <div #userCard class="user-card">
    <img
      [src]="setUser()?.imgURL"
      [alt]="`Photo of ${setUser()?.fname} ${setUser()?.lname}`"
      [title]="`Photo of ${setUser()?.fname} ${setUser()?.lname}`"
    />
    <section class="card-header">
      <h3>Identity</h3>
      <p>
        <strong>First name: </strong>
        <span>{{ setUser()?.fname }}</span>
      </p>
      <p>
        <strong>Last name: </strong>
        <span>{{ setUser()?.lname }}</span>
      </p>
      <p>
        <strong>Genre: </strong>
        <span>{{ getDisplayGenre(setUser()?.genre || "male") }}</span>
      </p>
    </section>
    <section>
      <h3>Job</h3>
      <p>
        <span>{{ setUser()?.job }}</span>
      </p>
    </section>
    <div
      id="card-content"
      [hidden]="!isCardContentVisibility()"
      class="w-full flex flex-col gap-4 items-start justify-evenly"
    >
      <section class="w-full">
        <h3 class="w-full text-center">Skills</h3>
        <ul>
          @for (skill of setUser()?.skills; track $index) {
          <li>➡️{{ skill }}</li>
          }
        </ul>
      </section>
      <section>
        <h3>Hobbies</h3>
        <ul>
          @for (hobby of setUser()?.hobbies; track $index) {
          <li>➡️{{ hobby }}</li>
          }
        </ul>
      </section>
      <section class="card-footer">
        <h3>Account</h3>
        <p>
          <strong>Status: </strong>
          <span [ngClass]="setColorStatus(getColorStatus())">{{
            getStatusValue()
          }}</span>
        </p>
        <div>
          <p>
            <strong>Subscription: </strong>
            <span
              [ngClass]="
                setColorSubscriptionStatus(getSubscriptionStatus(userId))
              "
              >{{ getSubscriptionStatus(userId) }}</span
            >
          </p>
        </div>
      </section>
    </div>
    <section class="flex flex-wrap items-center justify-evenly">
      <h3 class="w-full">Buttons</h3>
      <button
        (click)="toggleCardContent()"
        type="button"
        class="btn-primary my-4"
      >
        {{ isCardContentVisibility() ? "Hide" : "Show Details" }}
      </button>

      <button
        (click)="handleDeleteUser(userId)"
        class="btn-danger"
        type="button"
      >
        Delete
      </button>
    </section>
  </div>
  } @else {
  <h2>User not found!</h2>
  }
</div>
