<div id="grid" class="main-grid">
  @if (userList.length > 0) { @for (user of userList; track $index) {
  <div #userCard class="user-card" (click)="getUserId(user.id)">
    <img
      [src]="user.imgURL"
      [alt]="`Photo of ${user.fname} ${user.lname}`"
      [title]="`Photo of ${user.fname} ${user.lname}`"
    />
    <section class="card-header">
      <h3>Identity</h3>
      <p>
        <strong>First name: </strong>
        <span>{{ user.fname }}</span>
      </p>
      <p>
        <strong>Last name: </strong>
        <span>{{ user.lname }}</span>
      </p>
      <p>
        <strong>Genre: </strong>
        <span>{{ getDisplayGenre(user.genre) }}</span>
      </p>
      <h3>Job</h3>
      <p>
        <span>{{ user.job }}</span>
      </p>
    </section>
    <button type="button" class="btn-info">
      <a [routerLink]="['/users', user.id]">View user profile</a>
    </button>
  </div>
  } }@else {
  <h2>🙇The userList is empty!</h2>
  }
</div>
