<div id="grid" class="main-grid">
  @if (userList.length > 0) { @for (user of userList; track $index) {
  <div #userCard class="user-card">
    <img
      [src]="user.imgURL"
      [alt]="`Photo of ${user.fname} ${user.lname}`"
      [title]="`Photo of ${user.fname} ${user.lname}`"
    />
    <section class="card-header">
      <h3>Identity</h3>
      <p>
        <strong>First name: </strong>
        <span>{{ user.fname }}</span>
      </p>
      <p>
        <strong>Last name: </strong>
        <span>{{ user.lname }}</span>
      </p>
      <p>
        <strong>Genre: </strong>
        <span>{{ user.genre ? "🚺women" : "🚹men" }}</span>
      </p>
    </section>
    <div
      id="card-content"
      [hidden]="!isCardContentVisibility($index)"
      class="w-full flex flex-col gap-4 items-start justify-evenly"
    >
      <section>
        <h3>Skills</h3>
        <ul>
          @for (skill of user.skills; track $index) {
          <li>➡️{{ skill }}</li>
          }
        </ul>
      </section>
      <section>
        <h3>Hobbies</h3>
        <ul>
          @for (hobby of user.hobbies; track $index) {
          <li>➡️{{ hobby }}</li>
          }
        </ul>
      </section>
      <section class="card-footer">
        <h3>Account</h3>
        <p>
          <strong>Status: </strong>
          <span [ngClass]="setColorStatus(getStatusValue($index))">{{
            getStatusValue($index)
          }}</span>
        </p>
        <div>
          <p>
            <strong>Subscription: </strong>
            <span
              [ngClass]="
                setColorSubscriptionStatus(getSubscriptionStatus($index))
              "
              >{{ getSubscriptionStatus($index) }}</span
            >
          </p>
        </div>
      </section>
    </div>
    <section class="flex flex-wrap items-center justify-evenly">
      <h3 class="w-full">Buttons</h3>
      <button
        (click)="greetUser($index)"
        type="button"
        class="btn-primary my-4"
      >
        Greet
      </button>
      <button
        (click)="toggleCardContent($index)"
        type="button"
        class="btn-primary my-4"
      >
        {{ isCardContentVisibility($index) ? "Hide" : "Show" }}
      </button>

      <button
        (click)="handleDeleteUser(user.id)"
        class="btn-danger"
        type="button"
      >
        Delete
      </button>
    </section>
  </div>
  } }@else {
  <h2>🙇The userList is empty!</h2>
  }
</div>
