<div class="grid-cols-1 flex items-center justify-center">
  <form
    [formGroup]="newUserForm"
    (submit)="handleSubmit()"
    class="w-xl p-4 mx-auto text-white bg-slate-500 rounded-lg drop-shadow-xl"
  >
    <h2>Add an user</h2>
    <!-- Identity -->
    <section id="identity">
      <div class="inputGroup">
        <label for="genre">Genre</label>
        <select formControlName="genre" id="genre">
          <option value="">Select a value</option>
          @for (genre of genre; track $index) {
          <option [value]="genre.name">{{ genre.name }}</option>
          }
        </select>
      </div>
      <div class="inputGroup">
        <label for="fname">First name</label>
        <input
          type="text"
          formControlName="fname"
          id="fname"
          placeholder="input your first name"
        />
      </div>
      <div class="inputGroup">
        <label for="age">Last name</label>
        <input
          type="text"
          formControlName="lname"
          id="lname"
          placeholder="input your last name"
        />
      </div>
      <div class="inputGroup">
        <label for="age">Age</label>
        <input
          type="number"
          formControlName="age"
          id="age"
          placeholder="input your age"
        />
      </div>
    </section>
    <!-- ProfileImage -->
    <section id="profileImage">
      <div class="inputGroup">
        <label for="profileImage">Upload your profile image</label>
        <input type="file" formControlName="imgUrl" id="profileImage" />
      </div>
    </section>

    <!-- Job -->
    <section id="job">
      <div class="inputGroup">
        <label for="job">Select your job</label>
        <select formControlName="job" id="job">
          <option value="">--Select your job--</option>
          @for (job of jobList; track $index) {
          <option [value]="job.name">{{ job.name }}</option>
          }
        </select>
      </div>
    </section>

    <!-- Skills -->
    <section id="skills">
      <div class="inputGroup">
        <label for="skills">Add some skills</label>
        <select id="skills" (change)="selectSkill = $any($event.target).value">
          <option value="">-- Select a skill --</option>
          @for (skill of skillsList; track $index) {
          <option [value]="skill.name">{{ skill.name }}</option>
          }
        </select>
      </div>

      <div class="container-btn w-full p-4 flex items-center justify-end">
        <button type="button" (click)="addSkill()" class="btn-warning">
          Add skill
        </button>
      </div>
    </section>

    @if (skills.controls.length > 0) {
    <section id="previewSkills">
      <h3>Preview your skills list</h3>
      <ul>
        @for (skill of skills.controls; track $index) {
        <li>
          {{ skill.value }}
          <button
            class="w-full"
            (click)="removeSkills($index)"
            class="cursor-pointer"
            type="button"
            title="remove skill"
          >
            ❌Remove
          </button>
        </li>
        }
      </ul>
    </section>
    }

    <!-- Hobbies -->
    <section id="hobbies">
      <div class="inputGroup">
        <label for="hobbies">Add some hobbies</label>
        <input
          type="text"
          formControlName="hobbies"
          id="hobby"
          placeholder="input your hobbies"
          (change)="hobby = $any($event.target).value"
        />
        <div class="container-btn w-full p-4 flex items-center justify-end">
          <button type="button" (click)="addHobby()" class="btn-warning">
            Add hobby
          </button>
        </div>
      </div>
    </section>

    @if (hobbies.controls.length > 0) {
    <section id="previewHobbies">
      <h3>Preview hobbies list</h3>
      <ul>
        @for (hobby of hobbies.value; track $index) {
        <li>
          {{ hobby }}
          <button
            class="w-full"
            (click)="removeHobby($index)"
            class="cursor-pointer"
            type="button"
            title="remove skill"
          >
            ❌Remove
          </button>
        </li>
        }
      </ul>
    </section>
    }
    <div class="container-btn w-full p-4 flex items-center justify-center">
      <button type="submit" class="btn-success">Create</button>
    </div>
  </form>
</div>
