/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *** Variables *** */
.valid {
  @apply text-green-500;
}

.invalid {
  @apply text-red-500;
}

.pending {
  @apply bg-red-500;
}

header {
  @apply w-full bg-slate-800 text-white p-4 flex items-center justify-between;
}

body {
  @apply bg-slate-100;
}
.main-grid {
  @apply min-h-[50vh] grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 m-auto;
  grid-auto-rows: min-content;
  align-items: flex-start;
}

footer {
  @apply w-full bg-slate-800 text-white p-4 flex items-center justify-center;
}
/* Fonts */
h1 {
  @apply mb-4 text-3xl font-bold text-center text-black;
}

h2 {
  @apply text-2xl text-center font-bold mb-6;
}

h3 {
  @apply text-xl text-center font-bold mb-4;
}
span {
  @apply font-thin;
}

/* UI */
main {
  @apply flex flex-col gap-4 items-center justify-evenly mx-auto my-[15vh];
}

/* ***Form*** */
.formGroup {
  @apply flex-col shrink items-center justify-center gap-4;
}

.inputGroup {
  @apply flex flex-wrap items-center justify-end gap-4 text-center;
}

label {
  @apply w-full block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

option {
  @apply text-center;
}
/* *** Buttons *** */
.btn-primary {
  @apply bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded;
}

.btn-success {
  @apply bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded;
}

.btn-info {
  @apply bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 border-b-4 border-cyan-700 hover:border-cyan-500 rounded;
}

.btn-warning {
  @apply bg-orange-500 hover:bg-orange-400 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded;
}

/* *** Cards *** */
.user-card {
  @apply min-w-[300px] flex flex-col items-center gap-4 p-4 justify-evenly bg-slate-200 rounded-lg drop-shadow-xl;

  &:hover {
    @apply hover:cursor-pointer transition-all scale-105 bg-slate-300;
  }

  img {
    @apply object-center rounded-sm mb-4;
  }

  section:not(:first-child) {
    @apply w-full items-center justify-evenly border-t-2 border-gray-100 p-4;

    h3 {
      @apply mb-2 text-gray-600 text-center;
    }
  }
}
/* Effects */
.hover-effect {
  @apply hover:scale-110 transition-transform duration-300 ease-in-out;
}

.disabled {
  @apply bg-red-500 text-white;
}

.w-sm {
  flex-shrink: 0;
}

/* Effect */
.hidden {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
